$colorText: #FFFFFF;
$colorDetails: #000080;

* {
  background-color: 	#008080;
}
main {
  header {
  h1 {
  font-size: 40px;
  color: $colorText;
  margin-left: 40%;
  }
  }
  .box {
    color: $colorText;
    margin-left: 20%;
    margin-top: 5%;
    padding: 2%;
    font-size: 40px;
    text-transform: uppercase;
  }

  div {
  button {
    color: $colorText;
    font-size: 30px;
    margin-left: 50%;
    margin-top: 5%;
    padding: 1%;
    background-color: $colorDetails;
    &:hover {

    }
  }
  a {
    color: $colorText;
    font-size: 30px;
    padding:1%;
  }
  }
}
